<%- include('./partials/head') %>

<%- include('./partials/header') %>

    <main class="forecast">

        <section class="temprature">
            <div>
                <h1>Amsterdam</h1>
                <h2>Nederland</h2>
            </div>
            <section>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_78)">
                    <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.51449 9.51449L7.39349 7.39349" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.4855 9.51449L28.6065 7.39349" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_78">
                    <rect width="36" height="36" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                    
                <h2>19<sup>°C</sup></h2>
            </section>
        </section>
        <section class="weather-conditions">
            <article class="widget large-widget">
                <div>
                    <h2>Komende uren</h2>
                </div>
                <ul>
                    <li>
                            <p>9:00</p>
                            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_1_125)">
                            <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            <defs>
                            <clipPath id="clip0_1_125">
                            <rect width="36" height="36" fill="white"/>
                            </clipPath>
                            </defs>
                            </svg>
                            <h3>21</h3>
                    </li>
                    <li>
                        <p>9:00</p>
                        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1_125)">
                        <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </g>
                        <defs>
                        <clipPath id="clip0_1_125">
                        <rect width="36" height="36" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
                        <h3>21</h3>
                    </li>
                    <li>
                    <p>9:00</p>
                    <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_1_125)">
                    <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_1_125">
                    <rect width="36" height="36" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <h3>21</h3>
                    </li>
                    <li>
                <p>9:00</p>
                <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1_125)">
                <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_1_125">
                <rect width="36" height="36" fill="white"/>
                </clipPath>
                </defs>
                </svg>
                <h3>21</h3>
                    </li>
                    <li>
            <p>9:00</p>
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_1_125)">
            <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </g>
            <defs>
            <clipPath id="clip0_1_125">
            <rect width="36" height="36" fill="white"/>
            </clipPath>
            </defs>
            </svg>
            <h3>21</h3>
                    </li>
                    <li>
        <p>9:00</p>
        <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_1_125)">
        <path d="M22.242 22.242C22.8151 21.6885 23.2722 21.0265 23.5866 20.2944C23.9011 19.5624 24.0666 18.7751 24.0735 17.9784C24.0804 17.1817 23.9286 16.3917 23.6269 15.6543C23.3252 14.9169 22.8797 14.247 22.3164 13.6836C21.753 13.1203 21.0831 12.6748 20.3457 12.3731C19.6083 12.0714 18.8183 11.9196 18.0216 11.9265C17.2249 11.9334 16.4376 12.0989 15.7056 12.4134C14.9735 12.7278 14.3115 13.1849 13.758 13.758C12.6651 14.8896 12.0603 16.4052 12.074 17.9784C12.0876 19.5516 12.7186 21.0565 13.8311 22.1689C14.9435 23.2814 16.4484 23.9124 18.0216 23.926C19.5948 23.9397 21.1104 23.3349 22.242 22.242Z" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.51449 26.4855L7.39349 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.51449 9.5145L7.39349 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.4855 9.5145L28.6065 7.3935" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M26.4855 26.4855L28.6065 28.6065" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6 18H3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18 6V3" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M30 18H33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18 30V33" stroke="#F4F4F4" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
        <clipPath id="clip0_1_125">
        <rect width="36" height="36" fill="white"/>
        </clipPath>
        </defs>
        </svg>
        <h3>21</h3>
                    </li>
                </ul>
            </article>
            <div class="overview">
                <article class="widget mid-widget">
                    <h3>Zon op:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                        5:36
                    </h3>
                </article>
                <article class="widget mid-widget">
                    <h3>Zon onder:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                        21:48
                    </h3>
                </article>
                <article class="widget mid-widget">
                    <h3>Kans op regen:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                        30%
                    </h3>
                </article>
                <article class="widget mid-widget">
                    <h3>Luchtdruk:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                    <span>
                        1034                    
                        <sup>hPa</sup>
                    </span>
                    </h3>
                </article>
                <article class="widget mid-widget">
                    <h3>Zicht:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                    <span>
                        40                    
                        <sup>km</sup>
                    </span>
                    </h3>
                </article>
                <article class="widget mid-widget">
                    <h3>UV-index:</h3>
                    <h3>    
                        <%- include('./partials/svg-icons/sun') %>
                        4
                    </h3>
                </article>
            </div>
        </section>

    </main>


    </body>
</html>